sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
registry.npmjs.org/:_authToken=d60bbc0b-8f41-40a2-bd46-85f98f40d46a
